@import "../node_modules/@material/layout-grid/mdc-layout-grid";
@import "fonts";

html {
  font-family: 'DejaWeb';
  quotes: "“" "”";
}

body {
  font-family: 'DejaWeb';
  background-color: #282d47;
  color: #cdd3db;
  padding: 0;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  direction: ltr;
  text-align: left;
  font-size: 18px;
  line-height: 1.4446;
  font-weight: 400;
  letter-spacing: 0em;
  font-style: normal
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

span.xs-inline {
  display: none;
}

span.xs-inline-none {
  display: inline;
}

@media (max-width: 575px) {
  span.xs-inline {
    display: inline;
  }
  span.xs-inline-none {
    display: none;
  }
}
