{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "inline-react-svg",
    "babel-plugin-root-import"
  ],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": []
    }
  }
}
