{
  "env": {
    "development": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
                "targets": {
                  "browsers": "> 5%"
                }
              }
           }
        ]
      ],
      "plugins": [
        "inline-react-svg"
      ]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
                "targets": {
                  "browsers": "> 5%"
                }
              }
           }
        ]
      ],
      "plugins": [
        "inline-react-svg",
        ["transform-react-remove-prop-types"]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        "inline-react-svg",
        ["transform-react-remove-prop-types"]
      ]
    }
  }
}
