_crea
node_modules
.next
out

# OSX
.DS_Store
Icon

bower_components
flightplan.config.js
google.html
npm-debug.log
site-config.js
pages/resume.js
.well-known
BingSiteAuth.xml
.babelrc-back
pages.back
note.md

package-lock.json
