.style__loader___1V2PW {
  position: relative;
  margin: 0px auto;
  width: 40px; }
  .style__loader___1V2PW:before {
    content: '';
    display: block;
    padding-top: 100%; }

svg .style__circular____BaO1 {
  -webkit-animation: style__rotate___x6xRk 2s linear infinite;
          animation: style__rotate___x6xRk 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

svg .style__path___2TFQS {
  stroke-dasharray: 30,200;
  stroke-dashoffset: 0;
  stroke: #008744;
  -webkit-animation: style__dash___23NPi 1.5s ease-in-out infinite, style__color___j_8Td 6s ease-in-out infinite;
          animation: style__dash___23NPi 1.5s ease-in-out infinite, style__color___j_8Td 6s ease-in-out infinite;
  stroke-linecap: square; }

svg .style__background___3T2QW {
  stroke-linecap: square;
  opacity: .1; }

@-webkit-keyframes style__rotate___x6xRk {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes style__rotate___x6xRk {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes style__dash___23NPi {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@keyframes style__dash___23NPi {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124; } }

@-webkit-keyframes style__color___j_8Td {
  100%, 0% {
    stroke: #008744; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #d62d20; }
  80%, 90% {
    stroke: #ffa700; } }

@keyframes style__color___j_8Td {
  100%, 0% {
    stroke: #008744; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #d62d20; }
  80%, 90% {
    stroke: #ffa700; } }
